# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 8</font>

## Download: http://github.com/dsacademybr

In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

### Exercícios Sobre Módulos Python Para Análise de Dados

### ****** ATENÇÃO ******
### Alguns dos exercícios podem requerer pesquisa adicional na documentação dos pacotes. Pesquise!

### Exercício 1

In [3]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
# Qual objeto oferece melhor performance, array NumPy ou lista?

import numpy as np

array1 = np.arange(1000000)
array2 = list(range(1000000))

In [4]:
%time
display(array1*2)

CPU times: user 13 µs, sys: 2 µs, total: 15 µs
Wall time: 26.7 µs

array([      0,       2,       4, ..., 1999994, 1999996, 1999998])

In [5]:
%time
array_temp = [(element * 2) for element in array2]
display(array_temp)

CPU times: user 12 µs, sys: 1 µs, total: 13 µs
Wall time: 25.7 µs

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1016,
 1018,
 1020,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1126,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1192,
 1194,
 1196,
 1198,
 1200,
 1202,
 1204,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1244,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1550,
 1552,
 1554,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1590,
 1592,
 1594,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1694,
 1696,
 1698,
 1700,
 1702,
 1704,
 1706,
 1708,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1724,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740,
 1742,
 1744,
 1746,
 1748,
 1750,
 1752,
 1754,
 1756,
 1758,
 1760,
 1762,
 1764,
 1766,
 1768,
 1770,
 1772,
 1774,
 1776,
 1778,
 1780,
 1782,
 1784,
 1786,
 1788,
 1790,
 1792,
 1794,
 1796,
 1798,
 1800,
 1802,
 1804,
 1806,
 1808,
 1810,
 1812,
 1814,
 1816,
 1818,
 1820,
 1822,
 1824,
 1826,
 1828,
 1830,
 1832,
 1834,
 1836,
 1838,
 1840,
 1842,
 1844,
 1846,
 1848,
 1850,
 1852,
 1854,
 1856,
 1858,
 1860,
 1862,
 1864,
 1866,
 1868,
 1870,
 1872,
 1874,
 1876,
 1878,
 1880,
 1882,
 1884,
 1886,
 1888,
 1890,
 1892,
 1894,
 1896,
 1898,
 1900,
 1902,
 1904,
 1906,
 1908,
 1910,
 1912,
 1914,
 1916,
 1918,
 1920,
 1922,
 1924,
 1926,
 1928,
 1930,
 1932,
 1934,
 1936,
 1938,
 1940,
 1942,
 1944,
 1946,
 1948,
 1950,
 1952,
 1954,
 1956,
 1958,
 1960,
 1962,
 1964,
 1966,
 1968,
 1970,
 1972,
 1974,
 1976,
 1978,
 1980,
 1982,
 1984,
 1986,
 1988,
 1990,
 1992,
 1994,
 1996,
 1998,
 ...]

### Exercício 2

In [6]:
# Exercício 2
# Crie um array de 10 elementos
# Altere o valores de todos os elementos dos índices 5 a 8 para 0
array3 = np.arange(10)
array3[5:8] = 0
array3

array([0, 1, 2, 3, 4, 0, 0, 0, 8, 9])

### Exercício 3

In [29]:
# Crie um array de 3 dimensões e imprima a dimensão 1 
array4 = np.array(
    [
        [
            [1, 2, 3],
            [4, 5, 6]],
        [
            [7, 8, 9],
            [10, 11, 12]
        ]
    ]
)

array4[0]

array([[1, 2, 3],
       [4, 5, 6]])

### Exercício 4

In [41]:
# Crie um array de duas dimensões (matriz).
# Imprima os elementos da terceira linha da matriz
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas
array5 = np.array(
    [
        [1, 2, 3],
        [4, 5, 6], 
        [7, 8, 9]
    ]
)
print(array5[2])
print()
print(array5[:2, 1:])

[7 8 9]

[[2 3]
 [5 6]]

### Exercício 5

In [43]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [44]:
arr.transpose()

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [59]:
arr1 = np.arange(15).reshape(15,1)
arr1
arr1.transpose()

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]])

### Exercício 6

In [60]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond. Caso contrário, retorne o valor do array yarr.
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

In [63]:
result = [(arrayx if conditional else array) for arrayx, array, conditional in zip(xarr, yarr, cond)]
result

[1.1, 2.2, 1.3, 1.4, 2.5]

In [74]:
array_temp2 = zip(xarr, yarr, cond)
for item in array_temp2:
    print(item)
print(array_temp2)
for (x, y, c) in zip(xarr, yarr, cond):
    if c:
        print(x)
    else:
        print(y)

(1.1, 2.1, True)
(1.2, 2.2, False)
(1.3, 2.3, True)
(1.4, 2.4, True)
(1.5, 2.5, False)
<zip object at 0x7ffa6e31cdc0>
1.1
2.2
1.3
1.4
2.5

### Exercício 7

In [75]:
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
a = np.arange(10)
print(a)
np.save('array_a', a)

[0 1 2 3 4 5 6 7 8 9]

In [76]:
# Depois carregue o array do disco no array B
b = np.load('array_a.npy')
print(b)

[0 1 2 3 4 5 6 7 8 9]

### Exercício 8

In [3]:
# Considerando a série abaixo, imprima os valores únicos na série
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])

In [79]:
print(obj.unique())

['c' 'a' 'd' 'b']

### Exercício 9

In [1]:
# Considerando o trecho de código que conecta em uma url na internet, imprima o dataframe conforme abaixo.
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [4]:
data = resp.json()
# display(data)
issues = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])
display(issues)

,number,title,labels,state
0,44845,BUG: `groupby(...).agg()` with numpy transform...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,44844,CI: Flaky ResourceWarning('unclosed file <_io....,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
2,44842,ENH: inverse / reverse function of convert_dtypes,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
3,44841,PERF: Faster SparseArray.__getitem__ for boole...,[],open
4,44839,REGR: allow reindexing datetimelike with upcas...,[],open
5,44837,BUG: read_excel surprisingly filling empty lev...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,44833,ENH: Add a parameter in rolling() to control t...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
7,44832,PERF: array_equivalent_object,[],open
8,44830,BUG: IntervalArray.__cmp__(pd.NA),"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,44829,BUG: SparseArray.min/max skipna,"[{'id': 49182326, 'node_id': 'MDU6TGFiZWw0OTE4...",open
10,44825,BUG: rolling with method='table' and then appl...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,44824,BUG: Fix regression in groupby.rolling.corr/co...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
12,44823,API: Breaking Changes in 2.0 (without deprecat...,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
13,44822,CI: Troubleshoot CI,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
14,44821,BUG: Inconsistent behaviour in DataFrameGroupB...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,44820,REF: use dispatch_reduction_ufunc in PandasArr...,[],open
16,44819,API: hide NumericIndex from public top-level n...,"[{'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk...",open
17,44818,BUG: Inconsistent conversion of missing column...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,44817,CI: Install more packages from conda-forge,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
19,44813,BUG: Unexpected side effects within `agg` func...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,44809,CI: PyPy3 testing,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
21,44803,BUG: `groupby.apply()` inconsistently indexes ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,44802,TYP tighten `any` return type,"[{'id': 717120670, 'node_id': 'MDU6TGFiZWw3MTc...",open
23,44801,TYP: mostly missing return annotations in IO,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
24,44799,BUG: _repr_*_ methods should not iterate over ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,44798,PERF: avoid going through .values for reindexi...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
26,44796,PERF: DataFrame.__setitem__,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
27,44794,ENH: Initial implementation of support for SQL...,[],open
28,44793,"ENH: support np.add.reduce, np.multiply.reduce",[],open
29,44792,BUG: MultiIndex constructed with nulls inconsi...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

### Exercício 10

In [ ]:
# Crie um banco de dados no SQLite, crie uma tabela, insira registros,
# consulte a tabela e retorne os dados em dataframe do Pandas

In [5]:
import sqlite3

connection = sqlite3.connect('issues.db')
print('Opening database')

Opening database

In [9]:
cursor = connection.cursor()

In [10]:
# Command DDL

sql_create_table = '''
CREATE TABLE IF NOT EXISTS issues (
    number INTEGER PRIMARY KEY NOT NULL,
    title TEXT NOT NULL,
    labels TEXT,
    state TEXT NOT NULL
);
'''

In [11]:
# Executing instruction

cursor.execute(sql_create_table)

In [15]:
# Iserting function
sql_insert = 'INSERT INTO issues VALUES (?, ?, ?, ?, ?);'

In [16]:
# List with some records
record_set = [
    (0, 0, 'Breves respostas para grandes questões', 'Stephen Hawking', 'Not read'),
    (1, 1, 'O livro dos cinco anéis', 'Musashi', 'Reading'),
]

In [17]:
#For each element of my list, save in database using the insert sql function
for record in record_set:
    cursor.execute(sql_insert, record)

In [18]:
# Sending data to database
connection.commit()

In [19]:
# Setting sql function to consult all records
sql_get_all = 'SELECT * FROM issues;'

In [20]:
# Using the cursor to run all database and save the data in data variable
cursor.execute(sql_get_all)
data = cursor.fetchall()

In [26]:
# For each record of the data, print the record
for item in data:
    print('Livro ID: (%d, %d), título: %s de autor: %s e status: %s.' % item)

Livro ID: (0, 0), título: Breves respostas para grandes questões de autor: Stephen Hawking e status: Not read.
Livro ID: (1, 1), título: O livro dos cinco anéis de autor: Musashi e status: Reading.
[(0, 0, 'Breves respostas para grandes questões', 'Stephen Hawking', 'Not read'), (1, 1, 'O livro dos cinco anéis', 'Musashi', 'Reading')]

In [24]:
# Saving data into data frame of Pandas package
issues_df = pd.DataFrame(data, columns=['id', 'number', 'title', 'label', 'state'])

display(issues_df)

,id,number,title,label,state
0,0,0,Breves respostas para grandes questões,Stephen Hawking,Not read
1,1,1,O livro dos cinco anéis,Musashi,Reading

# Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>